@use "../../../stylesheets/abstracts/" as *;

.floating-label-wrap {
  position: relative;
}

.floating-label {
  pointer-events: none;
}
/* Hide the browser-specific focus styles */
.floating-label-field {
  border-width: 0;
  color: rgba(#2c3e50, 0.75);
  &:focus {
    outline: 0;
    box-shadow: 0;
  }

  &::placeholder {
    color: transparent;
  }
}

.floating-label-input {
  caret-color: var(--color-primary);
}
.floating-label-field {
  &,
  & + .floating-label {
    line-height: 1;
    font: inherit;
    padding: 1.5em;
    height: 4em;
  }
}

.floating-label-field {
  & + .floating-label {
    position: absolute;
    top: 20px;
    left: 0;
    user-select: none;
  }
}

.floating-label-field {
  border: 3px solid var(--color-primary);
  background-color: var(--color-grey-5);
  color: var(--color-primary);
  @include borderRadius(10px);
}

.floating-label-field {
  & + .floating-label {
    transition: transform 0.25s, opacity 0.25s ease-in-out;
    transform-origin: 0 0;
    opacity: 0.5;
  }
}

.floating-label-field {
  &:focus,
  &:not(:placeholder-shown) {
    border-color: var(--color-primary);
    & + .floating-label {
      transform: translate(1%, -30%) scale(0.8);
      opacity: 0.25;
    }
  }
}

.floating-label-input {
  caret-color: var(--color-white);
  color: var(--color-white);
  &:placeholder-shown {
    border: 1px solid var(--color-primary);
  }
  &:valid {
    &:not(:placeholder-shown) {
      border-color: rgba(#2ed573, 0.3);
    }
  }

  &:invalid {
    border-color: rgba(#ff4757, 0.3);
  }
}
