@use "@stylesheets/abstracts" as *;

section.error {
  @include mq("min", "desktop-wide") {
  }
}
/*error*/
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 5rem;

  h2 {
    font-size: 40px;
  }
  @include mq("max", "tablet-small", "tablet-wide") {
    grid-template-columns: repeat(1, 1fr);
  }
}
