/**
 * Basic typography style for copy text
 */

@use "../abstracts" as *;

body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
